@font-face {
    font-family: "Myriad";
    src: url("./../../../public/assets/fonts/MyriadPro-Regular.eot");
    src: url("./../../../public/assets/fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("./../../../public/assets/fonts/MyriadPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "novecento";
    src: url("./../../../public/assets/fonts/novecento.eot");
    src: url("./../../../public/assets/fonts/novecento.eot?#iefix") format("embedded-opentype"), url("./../../../public/assets/fonts/novecento.woff2") format("woff2");
}

@font-face {
    font-family: "helvetica";
    src: url("./../../../public/assets/fonts/helvetica.eot");
    src: url("./../../../public/assets/fonts/helvetica.eot?#iefix") format("embedded-opentype"), url("./../../../public/assets/fonts/helvetica.woff2") format("woff2");
}

html,
body,
* {
    box-sizing: border-box;
    font-family: "Myriad", sans-serif;
    font-size: 16px;
}

body {
    color: #737373;
    background-color: #fefefe;
}

* {
    font-size: inherit;
    font-family: inherit;
}

.bg-green {
    background-color: $green;
}

.text-secondary {
    color: $secondary;
}

.modal {
    z-index: 10000;
}