@font-face {
    font-family: "Myriad";
    src: url("./../../../public/assets/fonts/MyriadPro-Regular.eot");
    src: url("./../../../public/assets/fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("./../../../public/assets/fonts/MyriadPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "novecento";
    src: url("./../../../public/assets/fonts/novecento.eot");
    src: url("./../../../public/assets/fonts/novecento.eot?#iefix") format("embedded-opentype"), url("./../../../public/assets/fonts/novecento.woff2") format("woff2");
}

@font-face {
    font-family: "helvetica";
    src: url("./../../../public/assets/fonts/helvetica.eot");
    src: url("./../../../public/assets/fonts/helvetica.eot?#iefix") format("embedded-opentype"), url("./../../../public/assets/fonts/helvetica.woff2") format("woff2");
}

html,
body,
* {
    box-sizing: border-box;
    font-family: "Myriad", sans-serif;
    font-size: 16px;
}

body {
    color: #737373;
    background-color: #fefefe;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 15px;
    }
    &::-webkit-scrollbar-track {
        background-color: #e4e4e4;
        border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background-color: $green;
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    }
}

* {
    font-size: inherit;
    font-family: inherit;
}

.bg-green {
    background-color: $green;
}

.text-secondary {
    color: $secondary;
}

.text-gray {
    color: $gray;
}

.text-green {
    color: $green;
}

.modal {
    z-index: 10000;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: $green;
}

::selection {
    color: #fff;
    background: $green;
}