.starburst {
    position: relative;
    background-repeat: no-repeat;
    z-index: 0;
}

.starburst * {
    position: relative;
    z-index: 1;
}

.starburst--both {
    overflow: hidden;
    background-image: linear-gradient(0deg, transparent 50%, #2ecc71 50%), linear-gradient(11deg, transparent 50%, #2cc26b 50%), linear-gradient(22deg, transparent 50%, #2ecc71 50%), linear-gradient(33deg, transparent 50%, #2cc26b 50%), linear-gradient(44deg, transparent 50%, #2ecc71 50%), linear-gradient(55deg, transparent 50%, #2cc26b 50%), linear-gradient(66deg, transparent 50%, #2ecc71 50%), linear-gradient(77deg, transparent 50%, #2cc26b 50%), linear-gradient(88deg, transparent 50%, #2ecc71 50%), linear-gradient(99deg, transparent 50%, #2cc26b 50%), linear-gradient(110deg, transparent 50%, #2ecc71 50%), linear-gradient(121deg, transparent 50%, #2cc26b 50%), linear-gradient(132deg, transparent 50%, #2ecc71 50%), linear-gradient(143deg, transparent 50%, #2cc26b 50%), linear-gradient(154deg, transparent 50%, #2ecc71 50%), linear-gradient(165deg, transparent 50%, #2cc26b 50%), linear-gradient(176deg, transparent 50%, #2ecc71 50%), linear-gradient(187deg, transparent 50%, #2cc26b 50%), linear-gradient(198deg, transparent 50%, #2ecc71 50%), linear-gradient(209deg, transparent 50%, #2cc26b 50%), linear-gradient(220deg, transparent 50%, #2ecc71 50%), linear-gradient(231deg, transparent 50%, #2cc26b 50%), linear-gradient(242deg, transparent 50%, #2ecc71 50%), linear-gradient(253deg, transparent 50%, #2cc26b 50%), linear-gradient(264deg, transparent 50%, #2ecc71 50%), linear-gradient(275deg, transparent 50%, #2cc26b 50%), linear-gradient(286deg, transparent 50%, #2ecc71 50%), linear-gradient(297deg, transparent 50%, #2cc26b 50%), linear-gradient(308deg, transparent 50%, #2ecc71 50%), linear-gradient(319deg, transparent 50%, #2cc26b 50%), linear-gradient(330deg, transparent 50%, #2ecc71 50%), linear-gradient(341deg, transparent 50%, #2cc26b 50%), linear-gradient(352deg, transparent 50%, #2ecc71 50%);
}

.starburst--both::before {
    background-image: linear-gradient(180deg, transparent 50%, #2ecc71 50%), linear-gradient(191deg, transparent 50%, #2cc26b 50%), linear-gradient(202deg, transparent 50%, #2ecc71 50%), linear-gradient(213deg, transparent 50%, #2cc26b 50%), linear-gradient(224deg, transparent 50%, #2ecc71 50%), linear-gradient(235deg, transparent 50%, #2cc26b 50%), linear-gradient(246deg, transparent 50%, #2ecc71 50%), linear-gradient(257deg, transparent 50%, #2cc26b 50%), linear-gradient(268deg, transparent 50%, #2ecc71 50%), linear-gradient(279deg, transparent 50%, #2cc26b 50%), linear-gradient(290deg, transparent 50%, #2ecc71 50%), linear-gradient(301deg, transparent 50%, #2cc26b 50%), linear-gradient(312deg, transparent 50%, #2ecc71 50%), linear-gradient(323deg, transparent 50%, #2cc26b 50%), linear-gradient(334deg, transparent 50%, #2ecc71 50%), linear-gradient(345deg, transparent 50%, #2cc26b 50%), linear-gradient(356deg, transparent 50%, #2ecc71 50%);
}

.starburst--both::after {
    top: 50% !important;
    background-position: 0 100%;
    background-size: 100% 200%;
    background-image: linear-gradient(0deg, transparent 50%, #2ecc71 50%), linear-gradient(11deg, transparent 50%, #2cc26b 50%), linear-gradient(22deg, transparent 50%, #2ecc71 50%), linear-gradient(33deg, transparent 50%, #2cc26b 50%), linear-gradient(44deg, transparent 50%, #2ecc71 50%), linear-gradient(55deg, transparent 50%, #2cc26b 50%), linear-gradient(66deg, transparent 50%, #2ecc71 50%), linear-gradient(77deg, transparent 50%, #2cc26b 50%), linear-gradient(88deg, transparent 50%, #2ecc71 50%), linear-gradient(99deg, transparent 50%, #2cc26b 50%), linear-gradient(110deg, transparent 50%, #2ecc71 50%), linear-gradient(121deg, transparent 50%, #2cc26b 50%), linear-gradient(132deg, transparent 50%, #2ecc71 50%), linear-gradient(143deg, transparent 50%, #2cc26b 50%), linear-gradient(154deg, transparent 50%, #2ecc71 50%), linear-gradient(165deg, transparent 50%, #2cc26b 50%), linear-gradient(176deg, transparent 50%, #2ecc71 50%);
}

.starburst--both::before,
.starburst--both::after {
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.starburst-container {
    height: 525px;
    overflow: hidden;
    @include breakpoint(md, max) {
        @include breakpoint(sm, min) {
            height: 475px;
        }
    }
    @include breakpoint(xs, max) {
        height: 300px;
    }
}

.starburst {
    section,
    div {
        width: 100vw;
        height: 110vh;
    }
}

.hero-header {
    padding-top: 225px;
    .hero-text {
        color: #aeadad;
    }
    .hero-btn {
        width: 184px;
    }
    @include breakpoint(md, max) {
        @include breakpoint(sm, min) {
            .mac {
                width: 60vw;
                height: auto;
            }
            .ipad {
                width: 200px;
                z-index: 20;
            }
            .ipod {
                width: 100px;
                z-index: 22;
            }
        }
    }
    @include breakpoint(xs, max) {
        .mac {
            width: 300px;
            height: auto;
            left: 4px;
        }
        .ipad {
            width: 150px;
            z-index: 20;
            right: 40px;
        }
        .ipod {
            width: 75px;
            z-index: 22;
            right: 25px;
        }
    }
}

.home-about {
    background-color: #efefef;
    padding: 40px 0;
    .home-about-description {
        h1 {}
        p {
            color: $secondary;
        }
    }
    .home-about-video {
        background-color: $orange;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 25px;
            background: linear-gradient( 0deg, rgba(255, 255, 255, 0) -35.83%, rgba(255, 255, 255, 0.2) -20.31%);
            z-index: 1;
        }
        @include breakpoint(md, max) {
            @include breakpoint(sm, min) {
                height: 300px;
            }
        }
    }
}